.info-cards-container {
    display: flex;
    font-family: 'Baloo 2', cursive;
    justify-content: space-evenly;
    height: 410px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.info-card-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #212125;
    border-radius: 20px;
    width: 300px;
    height: 380px;
    border-top: 0.75px solid #70CBFF;
    padding: 15px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    transition: .4s all;
    opacity: 65%;
}

.info-card-content > h1 {
    align-self: flex-end;
    color: #e6e3e9;
    margin-top: 0;
    margin-bottom: 0;
}

.info-card-title {
    font-size: 25px;
    color: #70CBFF;
}

.info-card-desc {
    font-size: 18px;
    color: #e6e3e9;
}

.info-card-content:hover {
    border: 3px solid #70CBFF;
    opacity: 100%;
}

/* Mobile View */

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .info-cards-container {
        display: flex;
        flex-direction: column;
        margin-top: 750px !important;
        font-family: 'Baloo 2', cursive;
        justify-content: space-evenly;
        height: 410px;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .info-card-content {
        display: flex;
        flex-direction: column;
        align-self: center;
        background-color: #212125;
        border-radius: 20px;
        width: 300px;
        height: 380px;
        margin-top: 50px;
        border-top: 0.75px solid #70CBFF;
        padding: 15px;
        box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
        transition: .4s all;
        opacity: 65%;
    }
}

/* Mobile View - iPad */

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .info-cards-container {
        display: grid;
        grid-template-columns: 330px 330px;
        /* grid-template-rows: 430px 430px; */
        grid-row-gap: 2.2em;
        grid-column-gap: 2.2em;
        height: 830px;
        margin: auto;
        margin-top: 170px;
        margin-bottom: 50px;
        width: 60%;
    }
}