.investment-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investment-form-container > h1 {
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    color: #70CBFF;
    padding: 50px;
    margin: 50px 0 50px 0;
    background-color: white;
    width: 100%;
    border-top: 1px solid #70CBFF;
    border-bottom: 1px solid #70CBFF;
    text-align: center;
    transition: .2s ease-in;
}

.investment-form-container > h1:hover {
    border-top: 5px solid #70CBFF;
    border-bottom: 5px solid #70CBFF;
}

.investment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212125;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-top: 1px solid #70CBFF;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    height: 250px;
    transition: .4s all;
    opacity: 60%;
}

.investment-form:hover {
    border: 3px solid #70CBFF;
    opacity: 100%;
}

.investment-form > h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #e6e3e9;
    margin-bottom: 0;
}

.investment-form-title {
    color: #70CBFF;
    font-size: 25px;
}

.investment-input {
    display: flex;
}

.investment-input-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.investment-input-content:not(:last-child) {
    margin-right: 30px;
}

input[type=text] {
    background: none;
    text-align: center;
    font-size: 25px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid lightcyan;
    width: 80px;
    color: lightgreen;
    padding: 5px;
}

input[type=text]:hover {
    cursor: pointer;
}

input[type=text]:focus {
    cursor: default;
    outline: none;
}

#submit-btn {
    width: 120px;
    height: 40px;
    margin-top: 15px;
    font-size: 18px;
    background: none;
    border-radius: 2em;
    color: white;
    border: 2px solid white;
    transition: .4s;
}

#submit-btn:hover {
    cursor: pointer;
    background-color: #99C24D;
    color: black;
}

#submit-btn:focus {
    outline: none;
}

.current-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #212125;
    border-bottom: 0.75px solid #70CBFF;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    padding: 40px;
    height: 70px;
    /* opacity: 60%; */
}

#current-percentage {
   display: flex;
   flex-direction: column;
   opacity: 60%;
   transition: .5s
}

#current-percentage:hover {
    opacity: 100%
}

#current-percentage > p {
    font-size: 25px;
    color:#e6e3e9;
    margin:0;
    padding:0;
}

#current-percentage > h1 {
    font-size: 20px;
    color: #70CBFF;
    margin: 0;
    padding: 0;
}

#current-percentage:not(:last-child) {
    margin-right: 50px;
}

/* Mobile View */
@media only screen and (min-width: 375px) and (max-width: 768px)  {
    .investment-form-container > h1 {
        font-size: 20px;
        font-family: 'Mukta', sans-serif;
        text-transform: uppercase;
        color: #70CBFF;
        padding: 15px 0px 15px 0px;
        margin: 50px 0 50px 0;
        background-color: white;
        width: 100%;
        border-top: 1px solid #70CBFF;
        border-bottom: 1px solid #70CBFF;
        text-align: center;
        transition: .2s ease-in;
    }

    .current-selection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #212125;
        border-bottom: 0.75px solid #70CBFF;
        box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
        padding: 40px;
        width: 60%;
        height: 100%;
    }

    #current-percentage:not(:last-child) {
    /* margin-right: 50px; */
        margin-right: 0;
    }
    #current-percentage {
        display: flex;
        flex-direction: column;
        opacity: 60%;
        transition: .5s;
    }

    .investment-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #212125;
        box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
        border-top: 1px solid #70CBFF;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 0;
        width: 70%;
        padding: 20px;
        height: 100%;
        transition: .4s all;
        opacity: 60%;
    }

    .investment-form > h1 {
        font-size: 20px;
        text-transform: uppercase;
        color: #e6e3e9;
        text-align: center;
        /* margin-bottom: 0; */
    }

    .investment-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .investment-input-content:not(:last-child) {
        margin-right: 0;
    }

    .investment-input-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    input[type=text] {
        width: 60%
    }

    #submit-btn {
        width: 120px;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        background: none;
        border-radius: 2em;
        color: white;
        border: 2px solid white;
        transition: .4s;
    }
}