.investment-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investment-form-container > h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #70CBFF;
    padding: 50px;
    margin: 50px 0 50px 0;
    background-color: white;
    width: 100%;
    border-top: 1px solid #70CBFF;
    border-bottom: 1px solid #70CBFF;
    text-align: center;
    transition: .2s ease-in;
}

.investment-form-container > h1:hover {
    border-top: 5px solid #70CBFF;
    border-bottom: 5px solid #70CBFF;
}

.investment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212125;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-top: 1px solid #70CBFF;
    border-radius: 20px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    padding: 20px;
    height: 250px;
    transition: .4s all;
    opacity: 60%;
}

.investment-form:hover {
    border: 3px solid #70CBFF;
    opacity: 100%;
}

.investment-form > h1 {
    text-transform: uppercase;
    color: #e6e3e9;
    margin-bottom: 0;
}

.investment-form-title {
    color: #70CBFF;
    font-size: 30px;
}

.investment-input {
    display: flex;
}

.investment-input-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.investment-input-content:not(:last-child) {
    margin-right: 30px;
}

input[type=text] {
    background: none;
    text-align: center;
    font-size: 25px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid lightcyan;
    width: 80px;
    color: lightgreen;
    padding: 5px;
}

input[type=text]:hover {
    cursor: pointer;
}

input[type=text]:focus {
    cursor: default;
    outline: none;
}

#submit-btn {
    width: 120px;
    height: 40px;
    margin-top: 15px;
    font-size: 18px;
    background: none;
    border-radius: 2em;
    color: white;
    border: 2px solid white;
    transition: .4s;
}

#submit-btn:hover {
    cursor: pointer;
    background-color: #99C24D;
    color: black;
}

.current-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #212125;
    border-top: 0.75px solid #70CBFF;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    padding: 40px;
    height: 70px;
    /* opacity: 60%; */
}

#current-percentage {
   display: flex;
   flex-direction: column;
   opacity: 60%;
   transition: .5s
}

#current-percentage:hover {
    opacity: 100%
}

#current-percentage > p {
    font-size: 35px;
    color:#e6e3e9;
    margin:0;
    padding:0;
}

#current-percentage > h1 {
    color: #70CBFF;
    margin: 0;
    padding: 0;
}

#current-percentage:not(:last-child) {
    margin-right: 50px;
}