.header{
  left: 0;
  top: 0;
  display: flex;
  position: fixed;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Mukta', sans-serif;
  width: 95%;
  z-index: 5;
  background-color: white;
}    

.social-links {
  width: 300px;
  display: flex;
  color: black;
  justify-content: space-evenly;
}

.header-icon {
  color: black;
  opacity: 60%;
  transition: .4s;
}

.header-icon:hover {
  opacity: 100%;
}